accessible-space
kloppy
matplotlib
mplsoccer
networkx
numpy
openpyxl
pandas
pytest
pytest-cov
python-slugify
scikit-learn
scipy<1.13
seaborn
selenium
statsbombpy
streamlit
# streamlit-profiler
tqdm
webdriver-manager
wfork-streamlit-profiler
build
tox
setuptools
pandera[pandas]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pandas
pyarrow
git+https://github.com/ML-KULeuven/ETSY.git
opencv-python
statsmodels
shapely
requests
beautifulsoup4
accessible_space
