accessible-space
adjustText
beautifulsoup4
build
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
kloppy
matplotlib
memory-profiler
mplsoccer
networkx
numpy
opencv-python
openpyxl
pandas
pandera[pandas]
patsy
pingouin
plotly
pyarrow
pytest
pytest-cov
python-slugify
rapidfuzz
requests
scikit-learn
scipy
seaborn
selenium
setuptools
shapely
statsbombpy
statsmodels
streamlit
streamlit-profiler
tqdm
tox
webdriver-manager
wfork-streamlit-profiler
# git+https://github.com/ML-KULeuven/ETSY.git
